/******************
   BEACONS PAGES
 *****************/

.beacons-list ion-card {
  width: 100%;
}

.beacons-list ion-card ion-card-content {
  padding: 5px !important;
}

.beacons-list ion-card ion-icon {
  font-size: 1.7rem;
  top: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
}

.beacons-list ion-card p {
  margin: 0;
  font-size: 1rem;
  padding-left: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.beacons-list ion-col div p {

  display: inline-block;
  font-size: 0.8rem;
}

.beacons-list ion-col div p:last-child {
  float: right;
}

.beacons-list .beacons-list-info ion-icon {
  font-size: 1rem;
  left: initial;
  top: initial;
  transform: none;
  vertical-align: middle;
  padding-top: 0.1rem;
}

.beacons-list .beacons-list-info ion-col:last-child {
  padding-left: 0;
  vertical-align: middle;
}

.beacons-list .beacons-list-info p {
  padding: 0px;
  float: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 85%;
  overflow: hidden;
  vertical-align: middle;
}


/******************
    ROOMS PAGES
 *****************/

.rooms-list ion-card {
  width: 100%;

}

.rooms-list ion-card ion-card-content {
  padding: 5px !important;
}

.rooms-list ion-card ion-icon {
  font-size: 1.7rem;
  top: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
}

.rooms-list ion-card p {
  margin: 0;
  font-size: 1rem;
  padding-left: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rooms-list ion-card ion-col div p {
  display: inline-block;
  font-size: 0.8rem;
}

.rooms-list ion-card ion-col div p:last-child {
  float: right;
}


/***************************
    ION-CARD COMPONENT
 **************************/

.sc-ion-card-md-h {
  --color: #545454 !important;
}


/*************************************************
  BEACONS PAGES, ROOMS PAGES, MAP PAGES (BUTTON)
 *************************************************/

ion-button.list-button-refresh, ion-fab-button.map-button-refresh {
  --background: #fff;
  --background-focused: #fff;
  --background-hover: #fff;
  --color: #545454;
  --color-activated: #545454;
  --color-focused: #545454;
}


/***************************
   SWEET ALERT COMPONENTS
 **************************/

.swal2-popup-cst {
  width: 20em !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.swal2-container.swal2-shown {
  background-color: rgba(0, 0, 0, .4) !important;
}

.map-page p {
  margin-left: unset;
  margin-right: unset;
  -webkit-margin-start: 10px;
  margin-inline-start: 20px;
  position: absolute;
  margin-bottom: 0;
  color: #fff;
  margin-inline-end: 20px;
  width: calc(100% - 40px);
}

.map-page p span:last-child {
  float: right;
}

.map-page ion-card {
  height: 90%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  background: none !important;
  --background: none !important;
  box-shadow: none;
  overflow: hidden;
}

.map-page ion-card img {
  display: block;
  width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  height: 100% !important;
  z-index: 1000;
}

.map-page ion-fab {
  margin-right: 25px;
  margin-bottom: 45px;
}

.rooms-list ion-fab,
.beacons-list ion-fab {
  margin-right: 25px;
  margin-bottom: 25px;
}

.map-page span.map-page-marker {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  background: #2874A6;
  top: 10px;
  box-shadow: 0 0 0 #3498DB;
  left: 10px;
  animation: pulse 2.5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #3498DB;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px #3498DB;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #3498DB;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #3498DB;
    box-shadow: 0 0 0 0 #3498DB;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px #3498DB;
    box-shadow: 0 0 0 10px #3498DB;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 #3498DB;
    box-shadow: 0 0 0 0 #3498DB;
  }
}


/***************************
       ABOUT US PAGE
 **************************/

.about-us ion-row {
  padding-left: 20px;
  padding-right: 20px;
  color: #fff !important;
  text-align: justify !important;
  margin: 15px 0 !important;
}

.about-us ion-row ion-col h1 {
  font-weight: 700;
  text-align: center;
  margin-top: 10px !important;
}

.about-us ion-row ion-col p {
  font-weight: 600;
  margin: 0;
}

.about-us ion-row ion-col img {
  width: 45%;
  text-align: center;
}

.about-us ion-row ion-col img.about-us-schema {
  width: 100% !important;
}


/***************************
       SETTINGS PAGE
 **************************/

.settings ion-row:first-child {
  margin: 30px 0 !important;
}

.settings ion-row {
  margin: 15px 0 !important;
  padding-left: 20px;
  padding-right: 20px;
}

.settings ion-row ion-col h4 {
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.settings ion-row ion-col div {
  background: #fff;
  height: 45px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 4px;
}

.settings ion-row ion-col p.settings-api-url {
  color: #545454 !important;
  margin: 0;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  padding: 0 10px;
  text-overflow: ellipsis;
}

.settings ion-row ion-col img {
  width: 30%;
  text-align: center;
}
