
html {
  background: transparent url("../img/blur-background.jpg") no-repeat center !important;
  background-size: cover;
}

ion-content, ion-item {
  --background: none;
}

ion-list.list-md {
  background: none;
}

ion-header {
  --background: none;
  --border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6) !important;
}

ion-header:after {
  content: none !important;
}

ion-tab-bar {
  --background: none;
  --border: 1px solid rgba(255, 255, 255, 0.6);
}

ion-tab-button {
  --background: none;
  --color: #FFF;
  --color-selected: #fff;
}

ion-toolbar {
  --border: none;
  --background: none;
  --color: #fff;
}

ion-card {
  background: #fff !important;
}
