<ion-content class="beacons-list">
    <ion-list [lines]="'none'">
        <ion-item *ngFor="let item of beacons">
            <ion-card (click)="navigateTo(item?.id)">
                <ion-card-content class=" ion-activatable">
                    <ion-ripple-effect></ion-ripple-effect>
                    <ion-grid>
                        <ion-row>
                            <ion-col [size]="2">
                                <ion-icon [name]="modeBeacon ? 'bug' : 'build'"></ion-icon>
                            </ion-col>
                            <ion-col [size]="10">
                                <p *ngIf="item?.name">{{item?.name}}</p>
                                <div class="beacons-list-info">
                                    <ion-col [size]="1">
                                        <ion-icon name="wifi"></ion-icon>
                                    </ion-col>
                                    <ion-col [size]="11">
                                        <p>{{item?.macAddress | uppercase}}</p>
                                    </ion-col>

                                </div>
                                <div class="beacons-list-info">
                                    <ion-col [size]="1">
                                        <ion-icon name="pulse"></ion-icon>
                                    </ion-col>
                                    <ion-col [size]="11">
                                        <p>{{item?.serviceUUID | uppercase}}</p>
                                    </ion-col>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
    <ion-row [ngStyle]="{top: '50%', position: 'relative', transform: 'translateY(-50%)'}" *ngIf="beacons.length === 0">
        <ion-col class="ion-text-center">
            <ion-button (click)="list()" class="list-button-refresh">
                <ion-icon [name]="'refresh'"></ion-icon>
                <p [ngStyle]="{paddingLeft: '10px'}">Refresh the objects list</p>
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-fab *ngIf="beacons.length !== 0" [vertical]="'bottom'" [horizontal]="'end'" [slot]="'fixed'">
        <ion-fab-button (click)="list()" class="map-button-refresh">
            <ion-icon [name]="'refresh'"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
