<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<head th:fragment="head">
    <base th:href="@{/}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{'https://fonts.googleapis.com/css?family=Montserrat:400,600,700'}" rel="stylesheet">
    <link th:href="@{'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i'}" rel="stylesheet">
    <link th:href="@{vendor/bootstrap/bootstrap.css}" rel="stylesheet">
    <link th:href="@{vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{css/styles.css}" rel="stylesheet">
    <link rel="icon" th:href="@{img/favicon.ico}">

    <script th:src="@{vendor/popper/popper.min.js}"></script>
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/bootstrap.min.js}"></script>

    <title>Application - Locating Equipment</title>
</head>

</body>
</html>
