<ion-content class="rooms-list">
    <ion-list [lines]="'none'">
        <ion-item *ngFor="let item of rooms">
            <ion-card (click)="navigateTo(item?.id)">
                <ion-card-content class=" ion-activatable">
                    <ion-ripple-effect></ion-ripple-effect>
                    <ion-grid>
                        <ion-row>
                            <ion-col [size]="2">
                                <ion-icon [name]="'home'"></ion-icon>
                            </ion-col>
                            <ion-col [size]="10">
                                <p>{{item?.name}}</p>
                                <div>
                                    <p>x Axis : {{item?.xMax}} meters</p>
                                    <p>y Axis : {{item?.yMax}} meters</p>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
    <ion-row [ngStyle]="{top: '50%', position: 'relative', transform: 'translateY(-50%)'}" *ngIf="rooms.length === 0">
        <ion-col class="ion-text-center">
            <ion-button (click)="list()" class="list-button-refresh">
                <ion-icon [name]="'refresh'"></ion-icon>
                <p [ngStyle]="{paddingLeft: '10px'}">Refresh the rooms list</p>
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-fab *ngIf="rooms.length !== 0" [vertical]="'bottom'" [horizontal]="'end'" [slot]="'fixed'">
        <ion-fab-button (click)="list()" class="map-button-refresh">
            <ion-icon [name]="'refresh'"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
