<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment-head::head"></head>
<body>
<header class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container routing-error">
                        <h1>OUPS!</h1>
                        <p class="error-code">400 - Page Not Found</p>
                        <p class="p-large">The page you are looking for might have been removed had its name changed
                            or is temporarily unavailable</p>
                        <a class="btn-solid-lg page-scroll" th:href="'/'">
                            GO TO HOME PAGE
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>
