<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment-head::head"></head>
<body>
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1>MOBILE APPLICATION<br><span id="js-rotating">LOCATING EQUIPMENT</span></h1>
                        <p class="p-large">Locating Equipment is one of the easiest application to locate missing
                            property easily.
                            Download it !</p>
                        <a class="btn-solid-lg page-scroll" th:href="'api/v1/application'">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            DOWNLOAD APPLICATION
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="img/header-iphone.png" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>
