<ion-content class="map-page">
    <p>
        <span>x Axis : {{xAxis.xMax.floor ? xAxis.xMax.floor : 'UNDEF'}} meters</span>
        <span>y Axis : {{yAxis.yMax.floor ? yAxis.yMax.floor : 'UNDEF'}} meters</span>
    </p>
    <ion-card [id]="'map-content'">
        <img [src]="sourceMap()">
        <span [id]="'map-marker'" class="map-page-marker"></span>
    </ion-card>
    <ion-fab [vertical]="'bottom'" [horizontal]="'end'" [slot]="'fixed'">
        <ion-fab-button (click)="markerCoordinates()" class="map-button-refresh">
            <ion-icon [name]="'refresh'"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
