<ion-content class="settings">
    <ion-row>
        <ion-col [size]="12" class="ion-text-center">
            <img [src]="'/assets/img/settings/api.png'">
        </ion-col>
    </ion-row>
    <ion-row style="margin-bottom: 35px !important;">
        <ion-col [size]="12" class="ion-text-center">
            <h4>Current API entry point</h4>
            <div (click)="select('local')">
                <p class="settings-api-url">{{apiHost()}}</p>
            </div>
        </ion-col>
    </ion-row>
</ion-content>
