<ion-content class="about-us">
    <ion-row>
        <ion-col [size]="12">
            <h1>Locating Equipment</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col [size]="12" class="ion-text-center">
            <img [src]="'/assets/img/about-us/icon.png'">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col [size]="12">
            <p>
                The general idea is to attach to each tool or piece of equipment a small Bluetooth beacon
                transmitter.<br><br>
                On three corners of the room we should install small controller Bluetooth receivers to achieve
                signal triangulation.<br><br>We will use ESP32 chip microcontroller that can handle both Bluetooth
                and Wi-Fi technology.<br><br>
                The exact location of the object is sent at regular intervals by Bluetooth signal to ESP32.<br><br>
                The data received by ESP32 is then transmitted to the API deployed on Azure storage location.<br><br>
                The API is connected to the database and records the received data in the database.<br><br>This data
                is then processed and available to all clients connected to the mobile application.<br>
            </p>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col [size]="12" style="margin-bottom: 40px !important;">
            <img class="about-us-schema" [src]="'/assets/img/about-us/schema_esp32_room.png'">
        </ion-col>
    </ion-row>
</ion-content>
